/*
    Component: layout block
    ---
    A small component to demonstrate the layout items
*/

.c-layout-block {
    background-color: LightGrey;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
}

.c-layout-block--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
